body
{
    font-family: Arial;
    font-size: 12px;
    margin: 0;
    padding: 0;
    padding-top: 110px;
}

h1.songTitle
{
    margin: 0; padding: 0;
    margin-left: 25px;
    margin-bottom: 10px;
    font-family: Arial;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 1px;
    color: #fff;
}
h1.songTitle span
{
    padding: 1px;
}

img { border: none; }

.btnPrevious span, .btnPause span, .btnPlay span, 
.btnNext span, .btnClose span, .btnVolume span, 
.btnComments span, .btnHelp span, .btnReddit span, .btnShuffle span
{ display: none; }
.btnPrevious, .btnPause, .btnPlay, .btnNext, .btnClose, .btnVolume,
.btnComments, .btnHelp, .btnReddit, .btnShuffle
{
    background-position: top left;
    background-repeat: no-repeat;
    display: inline-block;
    width: 64px; height: 64px;
    outline: none;
}
.btnClose 
{
    width: 16px; height: 16px;
    background-image: url(../images/close.png);
}
.btnComments
{
    width: 21px; height: 18px;
    background-image: url(../images/comments.png);
}
.btnReddit
{
    width: 20px; height: 18px;
    background-image: url(../images/reddit.png);
    margin-right: 5px;
}

.btnPrevious { background-image: url(../images/previous.png); }
.btnNext { background-image: url(../images/next.png); }
.btnPlay { background-image: url(../images/play.png); }
.btnPause { background-image: url(../images/pause.png); }
.btnShuffle { background-image: url(../images/shuffle.png); }

.btnVolume.vol-high { background-image: url(../images/vol-high.png); }
.btnVolume.vol-med { background-image: url(../images/vol-med.png); }
.btnVolume.vol-low { background-image: url(../images/vol-low.png); }
.btnVolume.vol-mute { background-image: url(../images/vol-mute.png); }

.drpGenre 
{
    font-size: 16px;
    cursor: pointer;
}

.videoContainer { margin-left: 25px; }

.ui-widget-content { border: none; }
.progressbar { cursor: pointer; margin-left: 15px; border: 1px solid #aaa; }

.hide { display: none; }
.invisible { visibility: hidden; }

#player-holder { position: fixed; top: 0; left: 0; width: 100%; padding-left: 10px; background: #eee; background-position: 0 0; background-repeat: repeat; }
#tabs ul.main { position: fixed; top: 65px; width: 100%; }
.ui-tabs .ui-tabs-panel { padding: 5px; }
audio { display: none; }
.preloadNotice { position: fixed; top: 0; right: 0; padding: 5px; background: #FCB228; font-weight: bold; display: none; }

/*
.artists { }
.artist { float: left; clear: left; border: 0px solid black; margin: 5px; margin-bottom: 10px; padding: 0 3px; }
.artist h2 { margin: 0; padding: 0; margin-bottom: 5px; font-weight: normal; font-size: 110%; }
.albums { margin: 0; padding: 0; margin-left: 25px; list-style: none; display: none; }
.album a { float: left; clear: left; width: 100%; padding: 5px 0; text-decoration: none; }
.album.odd a { background: #eee; }
*/

.artists > ul { list-style: none; margin: 0; padding: 0; }
.expand, .collapse { display: inline-block; width: 16px; height: 16px; background: url(../images/expand.png) 0 0 no-repeat; }
.collapse { background-image: url(../images/collapse.png); }
.searchable { padding-left: 20px; background: url(../images/add.png) 0 0 no-repeat; text-decoration: none; }
#search-container { position: fixed; top: 99px; width: 100%; padding: 5px 0 0 0; background: #fff; }
#s { width: 60%; }
#songs-table { margin-top: 40px; }

.edit-meta .link { padding-left: 20px; background: url(../images/edit16.png) 0 0 no-repeat; }
.edit-form .cancel-button { color: #f00; }
.update-meta-container { line-height: 22px; }

.yui-skin-sam .yui-dt table .album-table { border: none; }
.yui-skin-sam .yui-dt table .album-table td { border: none; vertical-align: top; padding: 0 10px 0 0; }